[program:minemeld-web]
environment=MM_CONFIG="{{config_directory}}/",PATH="{{venv_directory}}/bin",HOME="{{data_directory}}",MINEMELD_PROTOTYPE_PATH="{{prototypes_local_directory}}:{{prototypes_repo_directory}}/current"
command={{venv_directory}}/bin/gunicorn -w 1 -b 127.0.0.1:5000 --worker-connections 500 --access-logfile - --error-logfile - -k gevent minemeld.flask.main:app 
directory=/tmp
user=minemeld
umask=027
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile={{main_directory}}/log/minemeld-web.log
logfile_backups=2
