[program:minemeld-web]
environment=MM_CONFIG="{{ config_directory }}/wsgi.yml",PATH="{{ venv_directory }}/bin",PYTHONPATH="{{ core_directory }}",HOME="{{ db_directory }}"
command={{ venv_directory }}/bin/gunicorn -w 1 -b 127.0.0.1:5000  --access-logfile - --error-logfile - -k gevent minemeld.flask:app 
directory=/tmp
user=minemeld
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/minemeld-web.log
