[program:minemeld-core]
environment=PATH="{{ venv_directory }}/bin",PYTHONPATH="{{ core_directory }}",HOME="{{ db_directory }}",MINEMELD_PROTOTYPE_PATH="{{ prototypes_local_directory }}:{{ prototypes_repo_directory }}"
command={{ venv_directory }}/bin/mm-run --verbose {{ config_directory }}
directory={{ db_directory }}
user=minemeld
stopwaitsecs=60
autostart=true
autorestart=true
redirect_stderr=true
killasgroup=true
stdout_logfile=/var/log/minemeld-core.log
