[program:minemeld-engine]
environment=PATH="{{venv_directory}}/bin",HOME="{{data_directory}}",MINEMELD_PROTOTYPE_PATH="{{prototypes_local_directory}}:{{prototypes_repo_directory}}/current",MM_CA_BUNDLE="{{certs_directory}}/bundle.crt"
command={{venv_directory}}/bin/mm-run {{config_directory}}
directory={{data_directory}}
user=minemeld
umask=027
stopwaitsecs=600
startsecs=30
autostart=true
autorestart=true
redirect_stderr=true
killasgroup=true
stdout_logfile={{ main_directory }}/log/minemeld-engine.log
logfile_backups=2
