[Unit]
Description=Process Monitoring and Control Daemon
Requires=network.target redis.service collectd.service
After=network.target redis.service collectd.service

[Service]
LimitNOFILE=65535
Type=forking
PIDFile=/var/run/minemeld/minemeld.pid
PermissionsStartOnly=true
User=minemeld
Group=minemeld
ExecStart={{venv_directory}}/bin/supervisord -c {{supervisor_directory}}/config/supervisord.conf --pidfile /var/run/minemeld/minemeld.pid
ExecStop={{venv_directory}}/bin/supervisord -c {{supervisor_directory}}/config/supervisord.conf stop all
ExecStopPost=/bin/rm -f /var/run/minemeld/minemeld.pid
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=process
TimeoutStopSec=610

[Install]
WantedBy=multi-user.target
