upstream app_server {
    server 127.0.0.1:5000 fail_timeout=0;
}

server {
    listen 80;
    server_name ~(.+)$;
    return 301 https://$1$request_uri;
}

server {
    listen 443 ssl;

    server_name _;
    ssl_certificate /etc/nginx/minemeld.cer;
    ssl_certificate_key /etc/nginx/minemeld.pem;

    keepalive_timeout 5;

    # path for static files
    root {{ www_directory }};

    location = / {
        index index.html;
    }

    # first files then proxy to flask app
    location / {
        auth_basic "MineMeld";
        auth_basic_user_file /etc/nginx/minemeld.htpasswd;

        try_files $uri @proxy_to_app;
    }

    # for SSE
    location /status/events {
        auth_basic "MineMeld";
        auth_basic_user_file /etc/nginx/minemeld.htpasswd;

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header Connection '';
        proxy_http_version 1.1;
        proxy_redirect off;
        proxy_buffering off;
        chunked_transfer_encoding off;
        proxy_cache off;
        proxy_read_timeout 120s;

        proxy_pass   http://app_server;        
    }

    # for content that should be handled by mw flask app
    location @proxy_to_app {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        proxy_pass   http://app_server;
    }
}
